        <div id="chat-container">
        <h3>Chat</h3><br />
        <div id="chat-box" ></div>
        <div id="messages"></div>
        <form id="chat-form">
            <input type="email" id="user-email" placeholder="Your email" required>
            <input type="text" id="message-input" placeholder="Enter your message" required>
            <button type="submit">Send</button>
        </form>
    </div>
<script src="/static/realTimeChat.js"></script>

