<h1>Iniciar Sesi칩n</h1>
<form id="loginForm" action="/api/sessions/login" method="POST">
    <label for="email">Correo Electr칩nico:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Contrase침a:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Iniciar Sesi칩n">
</form>
<script src="/static/js/login.js"></script>