<h1>Crear nuevo producto</h1>

<form id="idForm">
    <label for="title">Title</label>
    <br>
    <input type="text" required name="title">
    <br>
    <label for="description">Description</label>
    <br>
    <input type="text" required name="description">
    <br>
    <label for="price">Price</label>
    <br>
    <input type="text" required name="price">
    <br>
    <label for="code">Code</label>
    <br>
    <input type="text" required name="code">
    <br>
    <label for="stock">StocK</label>
    <br>
    <input type="text" required name="stock">
    <br>
    <br>
    <button type="submit">Enviar</button>
    <br>
    <br>
</form> <br><br>

<button id="botonProductos">Mostrar Productos</button>